{% extends 'RudakDisclaimerBundle::layout.html.twig' %}


{% block disclaimer_content %}
    <h1>Show</h1>
    <table>
        <tr>
            <th>id</th>
            <td>{{ DisclaimerData.id|default('***') }}</td>
        </tr>
        <tr>
            <th>siteUrl</th>
            <td>{{ DisclaimerData.siteUrl|default('***')  }}</td>
        </tr>
        <tr>
            <th>ownerName</th>
            <td>{{ DisclaimerData.ownerName|default('***')  }}</td>
        </tr>
        <tr>
            <th>ownerStatus</th>
            <td>{{ DisclaimerData.ownerStatus|default('***')  }}</td>
        </tr>
        <tr>
            <th>ownerAddress</th>
            <td>{{ DisclaimerData.ownerAddress|default('***')  }}</td>
        </tr>
        <tr>
            <th>ownerCompanyName</th>
            <td>{{ DisclaimerData.ownerCompanyName|default('***')  }}</td>
        </tr>
        <tr>
            <th>siteCreatorAgency</th>
            <td>{{ DisclaimerData.siteCreatorAgency|default('***')  }}</td>
        </tr>
        <tr>
            <th>siteCreatorName</th>
            <td>{{ DisclaimerData.siteCreatorName|default('***')  }}</td>
        </tr>
        <tr>
            <th>siteCreatorUrl</th>
            <td>{{ DisclaimerData.siteCreatorUrl|default('***')  }}</td>
        </tr>
        <tr>
            <th>webmasterName</th>
            <td>{{ DisclaimerData.webmasterName|default('***')  }}</td>
        </tr>
        <tr>
            <th>editorManager</th>
            <td>{{ DisclaimerData.editorManager|default('***')  }}</td>
        </tr>
        <tr>
            <th>editorEmail</th>
            <td>{{ DisclaimerData.editorEmail|default('***')  }}</td>
        </tr>
        <tr>
            <th>hoster</th>
            <td>{{ DisclaimerData.hoster|default('***')  }}</td>
        </tr>
        <tr>
            <th>hosterAddress</th>
            <td>{{ DisclaimerData.hosterAddress|default('***')  }}</td>
        </tr>
        <tr>
            <th>cnil</th>
            <td>{{ DisclaimerData.cnil|default('***')  }}</td>
        </tr>
        <tr>
            <th>cnil number</th>
            <td>{{ DisclaimerData.cnilNumber|default('***')  }}</td>
        </tr>
        <tr>
            <th>latestUpdate</th>
            <td>{{ DisclaimerData.latestUpdate|default('-45 day') |date() }}</td>
        </tr>
    </table>
    <p>
        <a href="{{ path('Admin_Disclaimer_data_edit') }}">Edit</a>
    </p>
{% endblock disclaimer_content %}